@font-face {
    font-family: 'Memphis';
    src: url(../fonts/IBMPlexMono-ExtraLight.ttf);
}

body {
    font-family: 'Memphis';
    color: #fff;
    background: #000;
    display: flex;
    align-content: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.logos {
    display: flex;
    gap: 40px;
    margin-top: 16px;
    justify-content: center;
}

.row {
    margin-bottom: 25px;
}

button {
    font-family: 'Memphis';
    border: none;
    background-color: #000;
    color: white;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
}

button:hover {
    background-color: #282833;
    color: white;
    border: 1px solid #282833;
}

.greetings::before {
    content: "hi";
    animation: animate infinite 10s;
}

@keyframes animate {
  
    0% {
        content: "salem";
    }

    50% {
        content: "privet";
    }

    75% {
        content: "bonjour";
    }
}


